@import '../style/base/anyBase.scss';


  .accomodation{
    &_content{
        @include flex(row, space-between, flex-start);
        color: $color-secondary;
        width: 90%;
        margin: 0 auto;
        @media screen and (max-width: 812px){
            @include flex(column, space-between, flex-start);   
            gap: 10px;   
        }
        &_infos{
            display: flex;
            flex-direction: column;
            gap: 10px;
            font-weight: 500;
            font-size: 14px;
            margin: 30px 0px 20px 0px;
            div{
                display: flex;
                flex-wrap: wrap;
                gap: 10px;  
            }
            @media screen and (max-width: 812px){
              margin: 0px;
              h1{
                font-size: 18px;
                font-weight: normal;
              }
              p{
                font-size: 12px;
              }
              
              
          }
        }
        &_host{
          display: flex;
          flex-direction: column;
          gap: 5px;
          margin-bottom: 20px;
            @media screen and (max-width: 812px){
                width: 100%;
                @include flex(row-reverse, space-between, center);     
            }
            div{
                display: flex;
                justify-content: flex-end;
                align-items: flex-end;
                gap: 0 10px;
                @media screen and (max-width: 500px){
                    gap: 0 5px;   
                }
            }
            &_user{
              margin: 20px 0px 10px 0px;
              @media screen and (max-width: 812px){
              margin: 0px;
            }
            }
            &_name{
                align-self: center;
                flex-direction: column;
            }
            &_stars{
              display: flex;
              gap: 10px;
              img{
                  width: 30px;
                  height: 30px;
                  @media screen and (max-width: 650px){
                      width: 20px;
                      height: 20px;  
                  }
              } 
            }
        }
    }
}

.tags{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 25px;
  width: 115px;
  margin-top: 5px;
  background-color: $color-secondary;
  border-radius: 7px;
  color: $color-primary;
  font-size: 10px;
  @media screen and (max-width: 812px){
     font-size: 5px;
     width: 84px;
     font-size: 8px;
  }
}

.acc_host{
  width: 64px;
  height: 64px;
  border-radius: 50%;
  align-self: center;
}



.acc_collapse {
        display: flex; 
        justify-content: space-between;
        margin: none;
        div {
          flex: 1;
        }
        @media screen and (max-width: 812px){
          display: block;
          
           
        }
        
      } 

.acc_margin{
  margin: none;

}
      
    


