@import './base/colorBase.scss';

.ban {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  margin: 30px auto 45px;

  img {
    max-width: 90%;
    height: auto;
    border-radius: 10px; 
    filter: brightness(70%);
  }

  .t1 {
    position: absolute;
    text-align: center;
    color: $color-primary;
    font-size: 35px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

