@import "./base/colorBase.scss";

.foot {
    margin: 30px 0px 0px 0px;
    background-color: black;
    height: 209px;
    width: 100%;
    text-align: center;
    @media screen and (max-width: 500px){
        margin: 10px 0px 0px 0px;
        
    }
.fimg {
        width: 122px;
        margin-top: 62px;
    }
.ftext {
        margin-top: 32.2px;
        font-size: 12px;
        color: $color-primary;
        
    }
}