@import './base/anyBase.scss';


.flexbox{
    @include flex;
    flex-wrap: wrap;
    gap: 30px; 
    background-color: $color-tertiary;
    padding: 50px;
    border-radius: 25px;
    width: 95%;
    margin: 0 auto;
    @media screen and (min-width: 1024px){
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        padding:30px;       
    }
    @media screen and (min-width: 501px) and (max-width: 1023px){
        display: grid;
        grid-template-columns: repeat(2, 1fr);   
        padding:30px;       
    }
    @media screen and (max-width: 500px){
        padding:10px 0px 10px 0px;  
        gap: 10px; 
        background-color: $color-primary;
    }
}