@import '../style/base/anyBase.scss';

.header{
    @include flex(row, space-between, center);
    height: 68px;
    max-width: 90%;
    margin: 0 auto;
    @media screen and (max-width: 900px){
    
    }
    img{
        height: 60%;
        @media screen and (max-width: 7812px){
            height: 40px;
            
        }
    }
}



.nav_list{
    display: flex;
    gap: 50px;
    color: $color-secondary;
    font-size: clamp(10px, 2.5vw, 18px);
    @media screen and (max-width: 700px){
        gap: 20px;
    }
.home, .about{
        &:hover{
            position: relative;
            transition: all 0.2s ease-in-out;
            text-decoration: underline solid $color-secondary; 
        }
    } 
    @media screen and (max-width: 500px){
        text-transform: uppercase;
    }
}