@import '../style/base/anyBase.scss';

.about-main {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    margin-bottom: 148px;
}

.accomodation-form{
    display: flex;
    flex-direction: row-reverse;
    max-width: 90%;
    margin-top: 20px;
    margin-bottom: 148px;
}